.container {
    margin-top: 5em;
    border: 1px solid;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
}

.productora {
    grid-column: 1 / span 2;
}

#Crear {
    background-color: black;
    color: white;
    border-radius: 6px;
}

#Ver {
    background-color: rgb(40, 141, 225);
    border-radius: 5px;
    color: white;
}

#Eliminar {
    background-color: red;
    border-radius: 5px;
    color: white;
}

#Actualizar {
    background-color: rgb(38, 88, 31);
    border-radius: 5px;
    color: white;
}
